<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    {% include 'styles.html' %}
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
        <div class="content">
            <form action="/converter/volume" method="post">
                <p>From:
                    <input type="number" name="from_value" value="50" min="0" step="any" required>
                    <select name="from_unit" required>
                        <!-- DISTANCE -->
                        <option value="mm3">mm³</option>
                        <option value="cm3">cm³</option>
                        <option value="m3">m³</option>
                        <option value="km3">km³</option>
                    </select>
                    <br>
                </p>
                <p>To: <select name="to_unit" required>
                        <option value="mm3">mm³</option>
                        <option value="cm3">cm³</option>
                        <option value="m3">m³</option>
                        <option value="km3">km³</option>
                    </select><br></p>
                <button type="submit" class="button-4">Submit</button>
            </form><br><br>

        </div>
    </div>

</body>

</html>