<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="../../static/styles.css">
    {% include 'style_templates/styles.html' %}
</head>

<body>
    {% include 'style_templates/navbar.html' %}
    <h1 class="title centered">Welcome to the Unit Converter. To select a conversion, select an option from the navigation bar.</h1>
</body>

</html>